<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Mentalist</title>
        <link rel="icon" href="/static/wert.png">
        <link rel="stylesheet" href="/static/homestyle.css">
        <link href='https://css.gg/read.css' rel='stylesheet'>
        <link href='https://css.gg/database.css' rel='stylesheet'>
        <link href='https://css.gg/pill.css' rel='stylesheet'>
        <link href='https://css.gg/profile.css' rel='stylesheet'>
    </head>

    <body>
        <h1>THE MENTALIST</h1>
        <p1>mental health analyzer with machine learning model</p1>
        <br>
        <p2>answer the questions to analyze your mental health</p2>
        
    </body>
    <br><br><br>
    
    <div class="button">
            
            <div1 class="btn1"><a href='/question'><i class="gg-read"></i>Let's Analyze!</a></div1><br>
            <div2 class="btn2"><a href='/mentalist'><i class="gg-pill"></i> What is the Mentalist?</a></div2><br>
            <div3 class="btn3"><a href='/info'><i class="gg-database"></i> Info on Mental Health</a></div3><br>
            <div4 class="btn4"><a href='/us'><i class="gg-profile"></i> About us</a></div4><br>
    </div>

    <div class="image"><a href='/question'>
        <img src="/static/Artboard-4.png" alt=""></a> 
    </div>
</html>