<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What is the Mentalist?</title>
    <link rel="stylesheet" href="/static/mentaliststyle.css">
    <link rel="icon" href="/static/wert.png">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    
    <nav>
        <a href="/">
            <div class="maintitle">The Mentalist</div>
        </a>
        <a href="#one">
            <div class="menuicon">
                <i class="bi bi-lightbulb"></i>
            </div>
            What is the Mentalist?
        </a>
        <a href="#two">
            <div class="menuicon">
                <i class="bi bi-gear"></i>
            </div>
            How does it work?
        </a>
        <a href="#three">
            <div class="menuicon">
                <i class="bi bi-grid"></i>
            </div>
            Artificial Intelligent
        </a>
        <a href="#four">
            <div class="menuicon">
                <i class="bi bi-stack"></i>
            </div>
            Accuracy of Algorithm
        </a>
        <a href="#five">
            <div class="menuicon">
                <i class="bi bi-code-square"></i>
            </div>
            System Modules
        </a>
        <div class="toanalyze">
            <a href="/question">
                <div class="menuicon">
                    <i class="bi bi-clipboard-check"></i>
                </div>
                Let's Analyze You !
            </a>
        </div>
    </nav>

    <section id="one">
        <p0>What is the Mentalist ?</p0>
        <d0><c0>" The Mentalist "</c0> is an analytical website powered by <a class="hyperlink" href="https://www.ibm.com/cloud/learn/machine-learning#:~:text=Machine%20learning%20is%20a%20branch,learn%2C%20gradually%20improving%20its%20accuracy.&text=Machine%20learning%20is%20an%20important,growing%20field%20of%20data%20science.">Machine Learning</a> 
            algorithm, in order to analyze users mental health and to predict propability of their mental issues risk. 
            <br>
            <g0>____</g0>The goal of this web developer is to raise people awareness on the importance of mental health
            and provides chance to avoid mental issues, since the mental health problems are tending to be major trouble 
            which presently hits people hard, such problems need to be seriously concerned.
        </d0>

        <f0>
            <g0>____</g0>This website is created as a medical project with machine learning algorithm for the Cooperation Education of the electrical engineering of
            <a class="hyperlink" href="https://bmei.cmu.ac.th/">Biomedical Engineering Institute, Chiang Mai University
                (BMEI)</a>.
                <br> 
            <g0>____</g0>Therefore, the purpose of this website is for only educational sake and not for any commercial benefit at all.            
        </f0>

    </section>

    <section id="two">
        <p1>Working Process of the Mentalist</p1>
        <div class="container">
            <div class="box">
                <div class="icon">
                    <i class="bi bi-file-earmark-text"></i>
                    <div class="text">1. Datapreprocessing</div>
                </div>
                <div class="content">
                    <h1>Data Cleaning and Studying</h1>
                    <c1>
                        Datapreprocessing is the process of preparation and cleaning of 
                        raw dataset on mental illness imported from <a class="hyperlinkhidden" href="https://www.kaggle.com/osmi/mental-health-in-tech-survey">Kaggle</a>,  
                        the online datascience community and largest site for public datasource.
                        The Mentalist requires prepared dataset as training and testing 
                        dataset of its embedded machine learning algorithm. 
                    </c1>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="bi bi-code-square"></i>
                    <div class="text">2. Machine Learning Algorithm</div>
                </div>
                <div class="content">
                    <h1>Writing an Analytical ML System</h1>
                    <c1>
                        The heart of the Mentalist is its Artificial Intelligent analyzer. 
                        The system learns to analyze and predict mental health by its system 
                        relied on the algorithm named <a class="hyperlinkhidden" href="https://builtin.com/data-science/random-forest-algorithm">Random Forest Classifier</a>, 
                        ensemble learning method for classification, regression 
                        which powered by <a class="hyperlinkhidden" href="https://scikit-learn.org/stable/">Scikit-Learning Module</a>.  
                    </c1>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="bi bi-window-sidebar"></i>
                    <div class="text">3. Responsive Website</div>
                </div>
                <div class="content">
                    <h1>Create Website for Users</h1>
                    <c1>
                        In order to analyze a mental health of an individual user,
                        it requires an interface which fetches data from user into
                        analytical algorithm. the Mentalist responsive website is created in order 
                        to provides users accessibility to analyze their mental health
                        on our machine learning system.
                    </c1>
                </div>
            </div>

        </div>

    </section>

    <section id="three">
        <p2>Artificial Intelligence</p2>
        <c2>
            <g0>_____</g0>Artificial intelligence (AI) is a wide-ranging branch of computer science 
            concerned with building smart machines capable of performing tasks that 
            typically require human intelligence.
        </c2>
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/a0_lo_GDcFw" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </section>

    <section id="four">
        <p3>The Accuracy and Reliability of the Mentalist</p3>
        <div class="accbox">
            <h3 class="text">The Mentalist<br>Model Accuracy</h3>
            <div class="accpercent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h3>92.33%</h3>
                </div>
            </div>
            <h3 class="textdown">
                <g0>____</g0>This accuracy percentage is calculated from the proportion
                between positive and negative testing of
                all 287 samples during machine learning session 
            </h3>
        </div>
        
        <div class="accimage">
            <br><br><br><br> <br>
            <img class="main" src="\static\confMatrixMain.png">
            <img class="bar" src="\static\confMatrixBar.png">
            <img class="label" src="\static\confMatrixLabel.png">
            <img class="side" src="\static\confMatrixSide.png">
            <img class="bottom" src="\static\confMatrixBottom.png">
        </div>

        <div class="c3">
            Confusion Matrix
            <div class="d3">
                <g0>__</g0>A technique for summarizing the performance of The Mentalist algorithm.
                This kind of matrix is able to provides a better idea of what your classification model 
                is getting right and what types of errors it is making
            </div>
    
        </div>
        
        <div class="accvalue">
            <div class="TN">126</div>
            <div class="FP">14</div>
            <div class="FN">8</div>
            <div class="TP">139</div>
        </div>

        <div class="acctable">
            <div class="acctn">Predicted NEGATIVE <br>and it is TRUE<br>(considered correct)</div>
            <div class="accfp">Predicted POSITIVE <br>and it’s FALSE <br>(considered error)</div>
            <div class="accfn">Predicted NEGATIVE <br>and it’s FALSE <br>(considered error)</div>
            <div class="acctp">Predicted POSITIVE <br>and it’s TRUE<br>(considered correct)</div>
        </div>
    </section>

    <section id="five">
        <p4>Main Modules used in the Mentalist</p4>
        <div class="module_icon">
            <img class="python" src="/static/python_logo.png" onclick="python_toggle()">
            <img class="html" src="/static/html_logo.png" onclick="html_toggle()">
            <img class="css" src="/static/css_logo.png" onclick="css_toggle()">
            <img class="js" src="/static/js_logo.png" onclick="js_toggle()">
        </div>

        
    </section>

    <div id="popup">
        <div id="python_popup">
            <g0>____</g0>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 
            Its high-level built in data structures, combined with dynamic typing and dynamic binding, 
            make it very attractive for Rapid Application Development, as well as for use as a scripting 
            or glue language to connect existing components together. In The Mentalist, Pytho is used as a main 
            language for machie learning algorithm, with assistance from some powerful library, such as 
            Scikit-Learn for classifier algorithm, Flask for embedment of ML model on online website, 
            Pandas, and Numpy as a numerical data analysis.
            <div class="hidden_icon">
                <img class="scikit_icon" src="/static/scikit_logo.png">
                <img class="flask_icon" src="/static/flask_logo.png">
                <img class="numpy_icon" src="/static/numpy_logo.png">
                <img class="pandas_icon" src="/static/pandas_logo.png">
            </div>
            <div class="close_button" onclick="python_toggle()">CLOSE</div>
        </div> 
        <div id="html_popup">
            <g0>____</g0>The HyperText Markup Language, or HTML is the standard markup language for documents designed 
            to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) 
            and scripting languages such as JavaScript. Web browsers receive HTML documents from a web server 
            or from local storage and render the documents into multimedia web pages. HTML describes the structure
            of a web page semantically and originally included cues for the appearance of the document. 
            <div class="hidden_icon">
                <img class="html_pic" src="/static/html.png">
            </div>
            <div class="close_button" onclick="html_toggle()">CLOSE</div>
        </div>
        <div id="css_popup">
            <g0>____</g0>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a 
            document written in a markup language such as HTML. CSS is designed to enable the separation of 
            presentation and content, including layout, colors, and fonts. This separation can improve 
            content accessibility, provide more flexibility and control in the specification of presentation 
            characteristics.
            <div class="hidden_icon">
                <img class="css_pic" src="/static/css.png">
            </div>
            <div class="close_button" onclick="css_toggle()">CLOSE</div>
        </div>
        <div id="js_popup">
            <g0>____</g0>JavaScript is a scripting or programming languages that allows you to implement complex features 
            on web pages. Every time a web page does more than just sit there and display static information 
            for you to look at displaying timely content updates, interactive maps, animated 2D/3D graphics, 
            scrolling video jukeboxes, etc.
            <div class="hidden_icon">
                <img class="js_pic" src="/static/js.png">
            </div>
            <div class="close_button" onclick="js_toggle()">CLOSE</div>
        </div>  
    </div>

    <script type="text/javascript">
        function python_toggle(){
            var blur = document.getElementById('five');
            blur.classList.toggle('active')
            var popup = document.getElementById('python_popup');
            popup.classList.toggle('active')
        }

        function html_toggle(){
            var blur = document.getElementById('five');
            blur.classList.toggle('active')
            var popup = document.getElementById('html_popup');
            popup.classList.toggle('active')
        }
        
        function css_toggle(){
            var blur = document.getElementById('five');
            blur.classList.toggle('active')
            var popup = document.getElementById('css_popup');
            popup.classList.toggle('active')
        }

        function js_toggle(){
            var blur = document.getElementById('five');
            blur.classList.toggle('active')
            var popup = document.getElementById('js_popup');
            popup.classList.toggle('active')
        }
    </script>

    
</body>
</html>