<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit and Data Source</title>
    <link rel="stylesheet" href="/static/usstyle.css">
    <link rel="icon" href="/static/wert.png">
</head>
<body>
    <div class="header">
        <div class="head">
            <h1>CREDIT AND DATASOURCE</h1>
        </div>
        
        <div class="logo">
            <a href="https://www.kaggle.com/osmi/mental-health-in-tech-survey">
                <div class="log">
                    <img class="kaggleA" src="/static/kaggle_logo.png"> 
                </div>
                <div class="text">
                    <p1>"Mental Health in Tech Survey Workplace 2014"</p1>
                </div>
            </a>

            <a href="https://www.kaggle.com/kairosart/machine-learning-for-mental-health-1/data">
                <div class="log">
                    <img class="kaggleB" src="/static/kaggle_logo.png"> 
                </div>
                <div class="text01">
                    <p1>"Machine Learning for Mental Health"</p1>
                </div>
            </a>

            <a href="https://www.youtube.com/watch?v=h43s0nHV_20">
                <div class="log">
                    <img class="youtube" src="/static/YT_logo.png"> 
                </div>
                <div class="text02">
                    <p1>"Deploy First Flask App on Heroku"</p1>
                </div>
            </a>

            <a href="https://blog.cambridgespark.com/deploying-a-machine-learning-model-to-the-web-725688b851c7">
                <div class="log">
                    <img class="spark" src="/static/spark_logo.png"> 
                </div>
                <div class="text03">
                    <p1>"Deploying a machine learning model to the web"</p1>
                </div>
            </a>

            <a href="https://www.udemy.com/course/machinelearning/">
                <div class="log">
                    <img class="udemy" src="/static/udemy_logo.png"> 
                </div>
                <div class="text04">
                    <p1>"Machine Learning A-Z™: Hands-On Python & R In Data Science" </p1>
                </div>
            </a>
        </div>
    </div>

    <div class="btn"><a href='/'>go back to home page</a></div>
</body>
</html>